.search {
  display: block;
  width: 15em;
  margin-left: auto;
}

.list {
  margin: 2em 0;
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

.list>li {
  border: 1px solid #ddd;
  border-radius: 0.5em;
  flex: 1 1 0px;
  padding: 1em;
  margin: 1em;
}

.list>li>img {
  width: 100%;
  min-width: 200px;
}